.Goomba_Standing{ background:url("Goomba_Standing.png") top left no-repeat; }
.Goomba_Animations_fw_r1_c1{ width:110px; height:100px; background-position:-10px -10px; }
.Goomba_Animations_fw_r1_c1_1{ width:110px; height:100px; background-position:-10px -120px; }
.Goomba_Animations_fw_r1_c1_2{ width:110px; height:100px; background-position:-10px -230px; }
.Goomba_Animations_fw_r1_c1_3{ width:110px; height:100px; background-position:-10px -340px; }
.Goomba_Animations_fw_r1_c1_4{ width:110px; height:100px; background-position:-10px -450px; }
.Goomba_Animations_fw_r1_c1_5{ width:110px; height:100px; background-position:-10px -560px; }
.Goomba_Animations_fw_r1_c1_6{ width:110px; height:100px; background-position:-10px -670px; }
.Goomba_Animations_fw_r1_c1_7{ width:110px; height:100px; background-position:-10px -780px; }
.Goomba_Animations_fw_r1_c1_8{ width:110px; height:100px; background-position:-10px -890px; }
.Goomba_Animations_fw_r1_c1_9{ width:110px; height:100px; background-position:-10px -1000px; }
.Goomba_Animations_fw_r1_c1_10{ width:110px; height:100px; background-position:-10px -1110px; }
.Goomba_Animations_fw_r1_c1_11{ width:110px; height:100px; background-position:-10px -1220px; }
.Goomba_Animations_fw_r1_c1_12{ width:110px; height:100px; background-position:-10px -1330px; }

